.my-profile {
  display: flex;
  margin-bottom: 32px;
}

.my-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}

.for-you {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.right-sidebar ul {
  list-style: none;
}

.right-sidebar ul li {
  display: flex;
  margin-bottom: 32px;
}

.icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: red;
  margin-right: 8px;
}
