.container {
  width: 0 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.height-100 {
    height: 100%;
}

.col-1 {
  width: calc(1 / 12 * 100%);
}

.col-2 {
  width: calc(2 / 12 * 100%);
}

.col-3 {
    width: calc(3 / 12 * 100%);
  }

.col-4 {
    width: calc(4 / 12 * 100%);
}

.col-5 {
  width: calc(5 / 12 * 100%);
}

.col-6 {
  width: calc(6 / 12 * 100%);
}

.col-7 {
    width: calc(7 / 12 * 100%);
  }

.col-8 {
  width: calc(8 / 12 * 100%);
}

.col-10 {
  width: calc(10 / 12 * 100%);
}

.col-12 {
  width: calc(12 / 12 * 100%);
}

/* sm */
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: calc(1 / 12 * 100%);
  }

  .col-sm-10 {
    width: calc(10 / 12 * 100%);
  }

  .col-sm-12 {
    width: calc(12 / 12 * 100%);
  }

  .offset-sm-1 {
    margin-left: calc(1 / 12 * 100%);
  }
}

/* md */
@media screen and (min-width: 768px) {
  .col-md-6 {
    width: calc(6 / 12 * 100%);
  }

  .col-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

/* lg */
@media screen and (min-width: 992px) {
  .col-lg-6 {
    width: calc(6 / 12 * 100%);
  }

  .col-lg-8 {
    width: calc(8 / 12 * 100%);
  }
}

/* xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: calc(1 / 12 * 100%);
  }

  .col-xl-2 {
    width: calc(2 / 12 * 100%);
  }

  .col-xl-3 {
    width: calc(3 / 12 * 100%);
  }

  .col-xl-4 {
    width: calc(4 / 12 * 100%);
  }

  .col-xl-7 {
    width: calc(7 / 12 * 100%);
  }

  .col-xl-8 {
    width: calc(8 / 12 * 100%);
  }

  .col-xl-10 {
    width: calc(10 / 12 * 100);
  }

  .offset-xl-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .offset-xl-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .offset-xl-4 {
    margin-left: calc(4 / 12 * 100%);
  }
}

/* xxl */
@media screen and (min-width: 1400px) {
  .col-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
}
